body {
background-image: url('background.jpeg');
}
p {
color: cadetblue;
  font-family: courier new;
}
h1 {
color: cadetblue;
  font-family: courier new;
}
h2 {
color: cadetblue;
  font-family: courier new;
}
h3 {
color: cadetblue;
  font-family: courier new;
}
